:root {
    // --px-theme: #AF2676;
    // --px-theme-2: #441B45;
    // --px-white: #fff;
    // --px-white-rgb: 255, 255, 255;
    // --px-text: #FFFFFF;
    // --px-heading: #FFFFFF;
    // --px-bg: #100E24;
    // --px-dark: #0D0B1C;
}

* {
    color: #100E24;
}

body {
    // background: linear-gradient(177deg, #100E24 0%, #030211 190%) !important;
    // background-color: var(--px-dark);

    // height: 100vh;
    // // color: var(--px-text);
    // // font-family: IBM Plex Sans, sans-serif;
    // // --bs-body-font-weight: 400;
    // // --bs-body-font-size: 1rem;
    // // --bs-body-line-height: 1.6;
    // overflow-x: hidden;
}


// .bg-color {
//     background: linear-gradient(177deg, #100E24 0%, #030211 190%);
// }

// .bg-color {
//     --bs-bg-opacity: 1;
//     background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
// }

// .bg-color {
//     background: linear-gradient(177deg, #100E24 0%, #030211 190%);
// }


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Tilt+Warp&display=swap');

.tilt-warp-heading {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.tilt-warp-sub-heading {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;

}

.signika-negative {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.section {
    padding: 100px 0;
    position: relative;
}

.section-heading {
    margin-bottom: 65px;
    position: relative;

    h6 {
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
    }

    h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;

        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

    }
}

// .section-about {
//     font-size: 1.25rem;
//     color: black;
// }


// .lead {
//     font-size: 1.125rem;
//     font-weight: 300;

//     span {
//         color: var(--px-theme);
//     }
// }

.px-btn {
    border: 1px solid !important;
    padding: 15px 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--px-theme);
    color: var(--px-theme-text);
    text-decoration: none;
    border-radius: 0;
    transition: ease all .35s;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    border: none;
    background: linear-gradient(90deg, var(--px-theme) 0%, var(--px-theme-2) 100%), var(--px-white);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--px-white);

    i {
        margin-left: 10px;
    }
}

.a-link-website {
    text-decoration: none;
    // color: inherit;

}


@media (max-width: 575.98px) {
    .section {
        padding: 2rem 0 !important;
        position: relative;
    }

    .section-heading {
        margin-bottom: 65px;
        position: relative;

        h6 {
            margin: 0 0 10px;
            font-size: 1rem;
            font-weight: 600;
            font-style: italic;
        }

        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;

            font-family: "Tilt Warp", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;

        }
    }

    .px-btn {
        border: 1px solid !important;


        margin: 1rem auto;
        padding: 10px 30px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--px-theme);
        color: var(--px-theme-text);
        text-decoration: none;
        border-radius: 0;
        transition: ease all .35s;
        font-weight: 500;
        outline: none;
        box-shadow: none;
        border: none;
        background: linear-gradient(90deg, var(--px-theme) 0%, var(--px-theme-2) 100%), var(--px-white);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: var(--px-white);

        i {
            margin-left: 10px;
        }
    }


    // .a-link-website {
    //     text-decoration: none;
    //     color: inherit;

    // }
    .services-title {
        flex: 0 0 90% !important;
        width: 90% !important;
        font-size: 1rem !important;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2;
        position: relative;
        padding-left: 25px;
    }

    .s-text {
        font-size: small !important;
    }
}


img {
    // filter: grayscale(100%) !important;
    // filter: hue-rotate(176deg) !important;
}