<div class="container">
    <div class="row min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text  ">
                <a href="https://ravigangawane.github.io/v-1.0.0/" target="_blank">old version 1.0.0 Live </a> <br>
                <h1 class="tilt-warp-heading ">My name <br>is <b>{{firstName}}</b>
                    <span class="tilt-warp-sub-heading "><br> {{lastName}}</span>
                </h1>
                <p class="lead signika-negative">
                    <span>Angular Developer </span> based in <span>{{location}}</span>
                </p>
                <div class="btn-bar">
                    <a href="#contact" class="px-btn signika-negative">
                        Work with me <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><a href="tel:{{mobNo}}"><i class="bi-phone"></i> </a><span> {{mobNo}}</span></p>
                    <p><a href="mailto:{{gmail}}"><i class="bi-envelope"></i></a><span> {{gmail}}</span> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-5 col-xxl-6">
            <div>

                <img src="/assets/images/ravi_1.png" alt="" srcset="" class="main-img">

                <!-- <div class="hb-me"
                    style="background-image: url('/assets/images/ravi_1.png');  filter: drop-shadow(15px 1px 100px #AF2676); width: 100%;">
                </div> -->
            </div>


        </div>
    </div>

    <div class="social-fix">
        <div class="social-links">
            <a href="javascript:">
                <i class="fab fa-dribbble"></i>
            </a>
            <a href="javascript:">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="javascript:">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
</div>