<div class="container">
    <div class="row min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text  ">
                <a href="https://ravigangawane.github.io/v-1.0.0/" target="_blank">old version 1.0.0 </a> <br>
                <h1 class="tilt-warp-heading ">My name <br>is <b>{{firstName}}</b>
                    <span class="tilt-warp-sub-heading "><br> {{lastName}}</span>
                </h1>
                <p class="lead signika-negative">
                    <!-- <span>Angular Developer </span> based in <span>{{location}}</span> -->
                    <ngx-typed-js [strings]="[
                    'a Web Developer ',
                    'a Angular Developer ',
                    'a Senior Software Engineer ',
                    'a Module Lead ',
                    'a Team Lead ',
                    'a Lead Engineer ',
                    'a UI/UX Designer ',
                    'a Professional IT Trainer ']" [shuffle]="true" [typeSpeed]="100" [backSpeed]="100"
                        [backDelay]="2000" [loop]="true">
                        I'm <span class="typing"></span>
                    </ngx-typed-js>
                </p>
                <div class="btn-bar">
                    <a href="#contact" class="px-btn signika-negative">
                        Work with me <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><a href="tel:{{mobNo}}"><i class="bi-phone"></i> </a><span> {{mobNo}}</span></p>
                    <p><a href="mailto:{{gmail}}"><i class="bi-envelope"></i></a><span> {{gmail}}</span> </p>
                </div>
                <div>





                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-5 col-xxl-6">
            <div class="right-img">

                <img src="/assets/images/ravi_1.png" alt="" srcset="" class="main-img" loading="lazy">

                <!-- <div class="hb-me"
                    style="background-image: url('/assets/images/ravi_1.png');  filter: drop-shadow(15px 1px 100px #AF2676); width: 100%;">
                </div> -->
            </div>


        </div>
    </div>

    <div class="social-fix">
        <div class="social-links">
            <a href="https://dev.to/ravi-d-gangawane" target="_blank">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://www.instagram.com/ravigangawane07/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/ravi-d-gangawane/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid" style=" height: 100vh; background-color: #ffffff; position: absolute;   ">
</div>